*{
    padding: 0;
    margin: 0;

}

#logo-container{
    height: 45px;
    width: 220px;
    /* background-color: darkblue; */
}

.logo-text{
    font-family: 'Be Vietnam', sans-serif;
    position:relative;
    bottom: 3px;
    font-size: 30px;
}

.link-text{
    /* font-family: Gudea, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 100;
}


#wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
    margin-bottom: 60px;
}

a{
    color: white;
}
#content-container{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    color: white;
}

nav ul li{
    list-style-type: none;
}

nav{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#main-nav{
    border: 1px dashed darkorange;
    margin-bottom: 30px;
}

#main-nav ul li{
    padding: 10px 0;
}

#social-media-nav ul{
    display: flex;
    justify-content: space-around;

}

#social-media-nav ul li{
    padding-left: 0;
    padding-right: 10px;
}