*{
    padding: 0;
    margin: 0;
}

.img{
    height: 60px;
    width: 210px;
    object-fit:cover;
}

#logo-container{
    height: 45px;
    width: 220px;
    /* background-color: darkblue; */
    background-image: url(/portfolio/black-and-white/img/IMG_7609.jpg);
    background-size: fill;
}

.logo-text{
    font-family: 'Be Vietnam', sans-serif;
    position:relative;
    bottom: 3px;
    font-size: 30px;
}

#info{
    margin-bottom: 50px;
}

.info-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 100;
}

.link-text{
    /* font-family: Gudea, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 100;
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
    margin-bottom: 10px;
}

a{
    color: white;
    text-decoration: none;
}

#content-container{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    color: white;
}

nav ul li{
    list-style-type: none;
}

nav{
    padding-left: 60px;
    padding-right: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#main-nav{
    /* border: 1px dashed darkorange; */
    margin-bottom: 30px;
}

#main-nav ul li{
    padding: 10px 0;
}

a:hover{
    background-color: darkcyan;
}

#deep-blue:hover{
    background-color: darkblue;
}

#social-media-nav ul{
    display: flex;
    justify-content: space-around;

}

#social-media-nav ul li{
    padding-left: 0;
    padding-right: 10px;
}